<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxiwTiZwun7biY6LEkqQ8p2LY3wKgIsRk</string>
	<key>GCM_SENDER_ID</key>
	<string>38364063076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.sheridancollege.GolfSwingTrainer.GolfSwingTrainer</string>
	<key>PROJECT_ID</key>
	<string>golf-swing-training</string>
	<key>STORAGE_BUCKET</key>
	<string>golf-swing-training</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:38364063076:ios:022c36c710bbf1a6ba8671</string>
</dict>
</plist>
